Standalone/bin/x86/Windows/Steamworks.NET.pdb
Standalone/obj/x86/Windows/DesignTimeResolveAssemblyReferencesInput.cache
Standalone/obj/x86/Windows/Steamworks.NET.csproj.FileListAbsolute.txt
Standalone/obj/x86/Windows/Steamworks.NET.csprojResolveAssemblyReference.cache
Standalone/obj/x86/Windows/Steamworks.NET.dll
Standalone/obj/x86/Windows/Steamworks.NET.pdb
Standalone/bin/x86/Windows/Steamworks.NET.dll
